.title {
  text-align: right;
}

html {
  height: 100%;
}

body {
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
}

button {
  border: none;
  align-self: center;
  justify-self: center;
  margin: 20px;
}