@media screen and (max-width: 960px) {
  .carousel-control-next-icon {
    right: 60px;
  }
  .carousel-control-prev-icon {
    left: 60px;
  }
  .mycontainer {
    width: 80% !important;
    margin: auto;
  }
  .card {
    padding-bottom: 50% !important;
  }
}

@media screen and (max-width: 580px) {
  .carousel-item-name,
  .carousel-item-name-selected {
    padding-top: 48px !important;
    font-size: 1.8em !important;
    margin-bottom: 10px !important;
  }
  .logo {
    margin-top: 40px !important;
    width: 70% !important;
  }
  .carousel-control-next-icon {
    right: 30px !important;
  }
  .carousel-control-prev-icon {
    left: 30px !important;
  }
  .footer {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    font-size: 0.9em !important;
  }
}

@media screen and (max-width: 770px) {
  .card-body {
    width: 80% !important;
    margin: auto;
  }
  .mycontainer {
    width: 90% !important;
    margin: auto;
  }
  .card {
    padding-bottom: 50% !important;
  }

  .carousel {
    margin-top: 40px !important;
    margin-bottom: 60px !important;
  }
}

button:focus {
  outline: none !important;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  min-height: 100vh;
  height: 100%;
}

.mycontainer {
  width: 65%;
  max-width: 900px;
  margin: auto;
  min-height: 80vh;
}

.col {
  padding: 0;
}

.carousel {
  margin-top: 50px;
  margin-bottom: 80px;
}

.carousel-item-container {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 65px -13px;
  background: rgba(53, 53, 53, 0.8);
  width: 100%;
  padding-bottom: 60px;
}

.carousel-control-next,
.carousel-control-prev {
  height: 100px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  position: absolute;
  top: 60px;
}

.carousel-item-name {
  user-select: none;
  cursor: pointer;
  text-align: center;
  padding-top: 35px;
  color: rgb(202, 103, 86);
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  margin-bottom: 20px;
}

.carousel-item-name-selected {
  user-select: none;
  margin-bottom: 20px;
  cursor: pointer;
  text-align: center;
  padding-top: 35px;
  color: rgb(78, 155, 110);
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
}

.card-body {
  width: 60%;
  margin: auto;
}

.button {
  border: none;
  background: none;
}

.arrow-down {
  width: 20px;
  margin-bottom: 20px;
}

.card-body {
  padding: 0;
}

.card {
  overflow: hidden;
  padding-bottom: 35%;
  position: relative;
  height: 0;
}

.card iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.logo {
  margin-top: 50px;
  width: 400px;
  height: auto;
}

.footer {
  color: rgb(255, 255, 255);
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1em;
}

.chart {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
